.notebook-slider {
    display: flex;
} 

.book1 {
    height:230px;
    width: 172px;
    background-color: #1e2646;
    margin-right: 15px;
    border-radius: 2px 10px 10px 2px;
    color: black;
    box-shadow: 0 0 5px rgb(206, 238, 248), 0 0 10px rgb(71, 173, 204), 0 0 50px rgb(23, 77, 94);
    overflow: hidden;
}
.notebook-info-box {
    position: relative;
    top:-10px;
    left: 50px;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
}
.divider {
    position: relative;
    height: 230px;
    width: 20px;
    top: -236px;
    background-color: #181922;
    border-radius: 5px 0 0 5px;
}

.divider2 {
    position: relative;
    left: 20px;
    top: -463px;
    height: 230px;
    width: 5px;
    background-color: rgb(66, 76, 85);
}

.notebook-info-box > div > p{
    font-size: 13px;
    color: rgb(163, 163, 163);
    margin: 0;
    padding:0;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    
}

.notebook-info-box > p:nth-child(1) {
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 15px;
    margin-top: 30px;
}

.add-book {
    height:230px;
    width: 172px;
    background-color: #1e2646;
    margin-right: 15px;
    border-radius: 2px 10px 10px 2px;
    color: black;
    box-shadow: 0 0 5px rgb(253, 253, 249), 0 0 10px rgb(252, 255, 214), 0 0 50px rgb(85, 87, 71);
    overflow: hidden;
}

.notebook-info-box.add-box > p {
    font-weight: normal;
    text-shadow: 0 0 10px rgb(249, 253, 207), 0 0 40px rgb(166, 172, 105), 0 0 100px rgb(86, 88, 61);
}

.notebook-info-box.add-box > p:nth-child(2) {
    position: absolute;
    top: 110px;
    left: 15px;
    font-size: 25px;
}

.notebook-info-box.add-box > p:nth-child(3) {
    position: absolute;
    top: 140px;
    left: -15px;
    font-size: 25px;
}

.notebook-menu-button {
    position:relative;
    left: 100px;
    color:white;
    font-size: 20px;
    padding-left: 30px;
}

.book1 > button:nth-child(1) {
    position: relative;
    left: 50px;
}

.notebook-dropdown-menu {
    position: absolute;
    color: white;
    left:12px;
    z-index: 2;
    width: 200px;
    height: 100px;
    padding: 55px 0 0 0;
    top: -10px; 
    /* background-color: white; */
}

.notebook-dropdown-menu > .notebook-delete-icon {
    padding: 5px 5px;
    color: crimson;
    background-color: #070708;
    border: 3px crimson solid;
    border-radius: 5px;
    position:relative;
    left:15px;
    font-size: 15px;
    box-shadow: 0 0 10px rgb(255, 165, 165), 0 0 30px rgb(255, 101, 101);
}

.notebook-delete-icon {
    padding: 5px 5px;
    color: crimson;
    background-color: #070708;
    border: 3px crimson solid;
    border-radius: 5px;
    position:relative;
    left:15px;
    font-size: 15px;
    box-shadow: 0 0 10px rgb(255, 165, 165), 0 0 30px rgb(255, 101, 101);
}

.notebook-edit-icon {
    padding: 5px 5px;
    color: rgb(252, 248, 36);
    background-color: #070708;
    border: 3px solid rgb(252, 248, 36);
    border-radius: 5px;
    position:relative;
    left:15px;
    font-size: 15px;
    box-shadow: 0 0 10px rgb(252, 248, 36), 0 0 30px rgb(78, 77, 13);
}

.add-book > .divider {
    top: -212px;
}
.add-book > div.divider2 {
    top: -436px;
}

.notebook-create-button > p:nth-child(1) {
    font-size: 80px;
    position: relative;
    left: 15px;
    top: 25px;
}

.notebook-create-dropdown {
    box-sizing: border-box;
    position:absolute;
    top: 30px;
    left: -36px;
    width: 150px;
    z-index: 3;
    background-color: #060c21;
    border-radius: 5px;
    padding: 10px 5px;
    border: 2px solid white;
    box-shadow: 0 0 10px rgb(255, 255, 220),  0 0 40px rgb(85, 85, 32);
}

.notebook-create-dropdown > form > input {
    width: 139px;
    color: black;
    margin: 0;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
}

.notebook-create-dropdown > form > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.notebook-create-dropdown > form > div > button {
    font-family: 'Poppins', sans-serif;
    padding: 5px 10px;
    margin: 10px 0 0 0;
    background-color: transparent;
    border: 1.5px solid rgb(187, 250, 226);
    border-radius: 5px;
    color: rgb(187, 250, 226);
    box-shadow: 0 0 10px rgb(187, 250, 226);
    font-size: 12px;
}
.notebook-create-dropdown > form > div > p {
    margin: 10px 0 0 0;
    font-family: 'Poppins', sans-serif;
    padding: 5px 10px;
    border: 1.5px solid rgb(247, 180, 156);
    border-radius: 5px;
    color: rgb(247, 180, 156);
    box-shadow: 0 0 10px rgb(247, 180, 156);
    font-size: 12px;
    padding: 5px 10px;
}

.notebook-update-dropdown {
    box-sizing: border-box;
    position:absolute;
    top: 30px;
    left: -100px;
    width: 150px;
    z-index: 3;
    background-color: #060c21;
    border-radius: 5px;
    padding: 10px 5px;
    border: 2px solid white;
    box-shadow: 0 0 10px rgb(255, 255, 220),  0 0 40px rgb(85, 85, 32);
}
.notebook-update-dropdown > form > input {
    width: 139px;
    color: black;
    margin: 0;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
}

.notebook-update-dropdown > form > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.notebook-update-dropdown > form > div > button {
    font-family: 'Poppins', sans-serif;
    padding: 5px 10px;
    margin: 10px 0 0 0;
    background-color: transparent;
    border: 1.5px solid rgb(187, 250, 226);
    border-radius: 5px;
    color: rgb(187, 250, 226);
    box-shadow: 0 0 10px rgb(187, 250, 226);
    font-size: 12px;
}
.notebook-update-dropdown > form > div > p {
    margin: 10px 0 0 0;
    font-family: 'Poppins', sans-serif;
    padding: 5px 10px;
    border: 1.5px solid rgb(247, 180, 156);
    border-radius: 5px;
    color: rgb(247, 180, 156);
    box-shadow: 0 0 10px rgb(247, 180, 156);
    font-size: 12px;
    padding: 5px 10px;
}

.menu-close-button {
    color:grey;
    text-shadow: 0 0 10px white, 0 0 20px rgb(248, 164, 164);
    position: absolute;
    top:-25.5px;
    left:18px;
}



.nb-error-message-box  > ul > li {
    position: absolute;
    left: -10px;
    width: 160px;
    background-color: white;
    border-radius: 5px;
    padding: 5px 5px;
    margin: 0;
}


.nb-error-message-box  > ul > li > p  {
    margin: 0;
    padding: 0;
    color:crimson;
    font-weight: bold;
    font-size: 12px;
    animation: blink 2s linear infinite;
}