.single-note-wrapper {
    width: 100%;
    background-color: #060c21;;
    display:flex;
    justify-content: center;
}

.single-note-header {
    display: flex;
    justify-content: space-between;
    padding: 15px 25px;
}
.single-note-content-header {
    color: white;
    border-bottom: solid white 2px;
    width: 900px;
}
.notebook-icon {
    margin-left: 15px;
    margin-right: 400px;
}

.single-note-header-button-box {
    display: flex;
    gap: 15px;
}

.single-note-header-button-box, .single-note-header-button-box-right {
    font-size: 1.3em;
    color: grey;
    filter: drop-shadow( 0 0 10px rgb(146, 248, 218));
}

.single-note-content-wrapper {
    display: flex;
    justify-content: center;
}

.single-page-content-input {
    box-sizing: border-box;
    height: 700px;
    width: 900px;
    padding: 10px 10px;
    background-color: #060c21;
    border-radius:10px; 
    color:rgb(255, 255, 255); 
    border: none;
    font-size: 1.3em;
    text-shadow: 0 0 10px rgb(146, 248, 218), 0 0 40px rgb(82, 248, 207), 0 0 100px rgb(46, 245, 212);
}
.single-note-content {
    width: 910px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px 30px;

}


.single-page-content-input:focus {
    outline: none;
    color: white;
    text-shadow: 0 0 10px rgb(146, 248, 218), 0 0 40px rgb(82, 248, 207), 0 0 100px rgb(46, 245, 212);
}

.single-page-title-input {
    background-color: #060c21;
    font-size: 2.5em;
    width: 900px; 
    height: 100px;
    margin :0 ;
    letter-spacing: 1px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 10px;
    color: white;
}

.single-note-content-box {
    display: flex;
    flex-direction: column;
}

.delete-icon {
    color:white;
}

.single-note {
    padding-top: 30px;
}