
.cloud-one-one {
    width:400px;
    height: 400px;
    border-radius: 50%;
    background-color: rgb(218, 218, 218);
    position: absolute;
    left: 396px;
    top: 30px;
}
.cloud-one-two {
    width:250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgb(218, 218, 218);
    position: absolute;
    left: 598px;
    top: 19px;
}
.cloud-one-three {
    width:150px;
    height: 150px;
    border-radius: 50%;
    background-color: rgb(218, 218, 218);
    position: absolute;
    left: 755px;
    top: 76px;
}
.cloud-one-four {
    width:200px;
    height:200px;
    border-radius: 50%;
    background-color: rgb(218, 218, 218);
    position: absolute;
    left: 324px;
    top: 176px;
}

.cloud-two {
    position: absolute;
    left: 1038px;
    top: 767px;
    transform: rotate(200deg);
}

.cloud-three {
    position: absolute;
    top: -204px;
    left: 425px;
}

.cloud-four {
    position: absolute;
    top: 137px;
    left: 237px;
}

.cloudbunch {
    position: absolute;
    top: 520px;
    left: 741px;
    z-index: 1;
    transform: rotate(200deg);
    animation: wobble linear infinite 30s;
}

.front-cloud > .cloudbunch {
    top: 480px;
}

.front-cloud > .cloudbunchtwo {
    top: 510px;
}

.cloudbunch-outline {
    position: absolute;
    left: 728px;
    top: 474px;
    animation: wobble2 linear infinite 25s;
}

.front-cloud > .cloudbunch-outline {
    top:464px;
}

.cloudbunchtwo {
    position: absolute;
    top: 490px;
    left: 741px;
}


.cloudbunch-outline > div > div {
    z-index: 1;
    background-color: grey;
}

.cloudbunch > div > div {
    z-index: 1;
    background-color: rgb(95, 72, 228);
}


.cloudbunchtwo >div > div {
    background-color: rgb(135, 97, 241);
}
.front-cloud {
    z-index: 1;
    position: relative;
    top: -200px;
}

.back-cloud {
    transform: scaleX(-1);
    position: absolute;
    left: 2068px;
    top: -125px;
    z-index: 0;
}

.back-cloud > .cloudbunch-outline > div > div{
    background-color: black;
    z-index: 0;
}

.back-cloud > .cloudbunch > div > div{
    background-color: rgb(94, 17, 74);
    z-index: 0;
}

.back-cloud > .cloudbunchtwo > div > div{
    background-color: rgb(39, 19, 37);
    z-index: 0;
}


.planet {
    height: 1000px;
    width: 1000px;
    border: 20px solid rgb(143, 20, 96);
    background-color: rgb(173, 35, 185);;
    z-index: 1;
    position: relative;
    top: calc(60%);
   left: calc(24%);
    border-radius: 50%;
   /* animation: spin 5s linear infinite; */
}

.planet:after {
    content: '';
    background-color: #db6dc9;
    height: 950px;
    width: 950px;
    top: calc(100% - 975px);
   left: calc(24% - 215px);
    border-radius: 50%;
    position: absolute;
}

.stars {
    filter:drop-shadow(0 0 15px rgb(255, 255, 202) );
}

.stars > li {
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fdff6f;
    list-style: none;
    border-radius: 0;
    top: calc(0% - 1300px);
    clip-path: polygon(50% 0%, 69% 26%, 98% 35%, 75% 60%, 79% 91%, 49% 76%, 21% 91%, 24% 57%, 2% 35%, 28% 29%);
}

.stars > li:first-child {
    width: 30px;
    height: 30px;
    top: calc(0% - 1300px);
    left: calc(0% - 250px);
    animation: blink 3s 1s linear infinite;
}

.stars > li:nth-child(2) {
    width: 15px;
    height: 15px;
    top: calc(0% - 1350px);
    left: calc(0% - 400px);
    animation: blink 3s linear infinite;
}
.stars > li:nth-child(3) {
    width: 15px;
    height: 15px;
    top: calc(0% - 800px);
    left: calc(0% - 380px);
    background: rgb(250, 250, 223);
    animation: blink 2.5s 1.5s linear infinite;
}
.stars > li:nth-child(4) {
    width: 15px;
    height: 15px;
    top: calc(0% - 1020px);
    left: calc(0% - 270px);
}
.stars > li:nth-child(5) {
    width: 15px;
    height: 15px;
    top: calc(0% - 1150px);
    left: calc(0% - 400px);
}
.stars > li:nth-child(6) {
    width: 15px;
    height: 15px;
    top: calc(0% - 1100px);
    left: calc(0% + 120px);
    animation: blink 4s 0.5s linear infinite;
    background-color: rgb(172, 172, 252);
}

.stars > li:nth-child(7) {
    width: 15px;
    height: 15px;
    top: calc(0% - 900px);
    left: calc(0% - 0px);
}

.stars > li:nth-child(8) {
    width: 15px;
    height: 15px;
    top: calc(0% - 1200px);
    left: calc(0% + 600px);
}
.stars > li:nth-child(9) {
    width: 15px;
    height: 15px;
    top: calc(0% - 1400px);
    left: calc(0% + 750px);
}
.stars > li:nth-child(10) {
    width: 15px;
    height: 15px;
    top: calc(0% - 1530px);
    left: calc(0% + 450px);
}

.rocket .exhaust-fumes li {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #f5f5f5;
    list-style: none;
    border-radius: 100%;
    animation: fumes 5s infinite
}

.splash-page-wrapper{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.planet-main {
    height: 1600px;
    width: 1600px;
    background-color: rgb(90, 45, 94);
    clip-path: circle(50% at 50% 100%);
    position: relative;
    top: 450px;
}

.planet-shadow {
    height: 1700px;
    width: 1700px;
    background-color: rgb(59, 39, 61);
    clip-path: circle(50% at 50% 100%);
    position: absolute;
    top: -290px;
    left:190px;
}

.spot {
    height: 100px;
    width: 100px;
    background-color: rgb(32, 23, 32);
}


.rocket {
    position:absolute;
    top: 20%;
    width: 80px;
    left: calc(50% - 60px);
}

.rocket .rocket-body {
    width: 80px;
    left: calc(50% -50px);
    animation: bounce 0.5s infinite
}

.rocket .rocket-body .body {
    background-color: #dadada;
    height: 180px;
    left: calc(50%- 50px);
    border-radius: 100% 100% 50% 50%;
    border-top: 5px solid #f5f5f5;
    z-index: 1;
}

.rocket .rocket-body::before {
    content: '';
    position: absolute;
    left:calc(50% - 24px);
    top: calc(100%) ;
    width: 48px;
    height: 13px;
    bottom: -13px;
    background: linear-gradient(to right top, #8360c3, #2ebf91);
    border-radius: 0 0 60% 60%;
    z-index: 1;
}

.rocket .window {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #1b2e2c;
    left: calc(50% - 25px);
    top: 40px;
    border:5px solid #b4b2b2;
}

.rocket .window::after {
    position: absolute;
    content: '';
    width: 10px;
    height:10px;
    border-radius: 50%;
    top: 20%;
    left: 20%;
    background: #fff;
}

.rocket .fin {
    position: absolute;
    z-index: -1;
    height: 55px;
    width: 50px;
    background: linear-gradient(to right top, #8360c3, #2ebf91);
}


.rocket .fin-left {
    left: -30px;
    top: calc(100% - 55px);
    border-radius: 80% 0 0 20%;
}

.rocket .fin-right {
    right: -30px;
    top: calc(100% - 55px);
    border-radius: 0 80% 20% 0;
}

.exhaust-flame {
    position: absolute;
    clip-path: ellipse(25% 66% at 50% 0%);
    top: 90%;
    width: 60px;
    background: linear-gradient(180deg, transparent 10%, #f1e757 100%);
    height: 150px;
    left: calc(50% - 30px);
    z-index: -1;
    animation: exhaust 2s infinite;
}


.rocket .exhaust-fumes li {
    position: absolute;
    width: 60px;
    height: 60px;
    background: #f5f5f5;
    list-style: none;
    border-radius: 100%;
    animation: fumes 5s infinite
}


.rocket .exhaust-fumes li:first-child {
    width: 200px;
    height: 200px;
    bottom: -300px;
    animation: fumes 5s infinite; 
}

.rocket .exhaust-fumes li:nth-child(2){
    width: 150px;
    height: 150px;
    top: 260px;
    left: -120px;
    animation: fumes 3.2s infinite;
}

.rocket .exhaust-fumes li:nth-child(2){
    width: 150px;
    height: 150px;
    top: 260px;
    left: -120px;
    animation: fumes 5s infinite;
}

.rocket .exhaust-fumes li:nth-child(2){
    width: 150px;
    height: 150px;
    top: 260px;
    left: -120px;
    animation: fumes 3.2s infinite;
}

.rocket .exhaust-fumes li:nth-child(3){
    width: 120px;
    height: 120px;
    top: 330px;
    left: -40px;
    animation: fumes 3s 1s infinite;
}

.rocket .exhaust-fumes li:nth-child(4){
    width: 100px;
    height: 100px;
    left: -170px;
    top: 380px;
    animation: fumes 4s 2s infinite;
}

.rocket .exhaust-fumes li:nth-child(5){
    width: 130px;
    height: 130px;
    left: -120px;
    top: 350px;
    animation: fumes 5s infinite;
}

.rocket .exhaust-fumes li:nth-child(6){
    width: 200px;
    height: 200px;
    left: -60px;
    top: 280px;
    animation: fumes2 10s infinite;
}

.rocket .exhaust-fumes li:nth-child(7){
    width: 100px;
    height: 100px;
    left: -100px;
    top: 320px;
}

.rocket .exhaust-fumes li:nth-child(8){
    width: 110px;
    height: 110px;
    left: 70px;
    top: 340px;
}
.rocket .exhaust-fumes li:nth-child(9){
    width: 90px;
    height: 90px;
    left: 200px;
    top: 380px;
    animation: fumes 20s infinite;
}

.login-register-box {
    display: flex;
    justify-content: space-between;
    width: 700px;
    position: absolute;
    top: calc(88%);
    left: calc(32%);
    z-index: 1;
}

.titletextfront {
    position: absolute;
    z-index: 5;
    left:10px;
}
.titletextback {
    position: absolute;
    z-index: 4;
}

.title-text-container {
    position: absolute;
    top: calc(5%);
    left: calc(2%);
}

.astronautImg {
    width: 200px;
    position: absolute;
    top: calc(100% + 400px);
    left:calc(100% + 1200px);
    animation: wobble 15s linear infinite; 
    filter: drop-shadow(10px 10px 2px #3b3b3b);
}


.small-planet-one {
    list-style:none;
}
.small-planet-one  > li:first-child {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(48, 88, 150);
    border: 10px solid rgb(191, 246, 253);
    position: absolute;
    top: calc(100% - 817px);
    left: calc(100% - 365px);
    box-shadow: 0 0 10px rgb(195, 219, 252) , 0 0 30px rgb(120, 176, 255), 0 0 100px rgb(59, 141, 255);
    z-index: 3;
}



.small-planet-one  > li:nth-child(3) {
    width: 150px;
    height: 150px;
    background-color: rgb(195, 219, 252);
    border-radius: 50%;
    position: absolute;
    top: calc(100% - 832px);
    left: calc(100% - 377px);
}

.small-planet-one  > li:nth-child(4) {
    width: 148px;
    height: 370px;
    background: linear-gradient(180deg, transparent 10%, rgb(195, 219, 252) 100%);
    transform: rotate(70deg) scaleX(-1);
    position: absolute;
    top: calc(100% - 1001px);
    left: calc(100% - 213px);
    animation: astrotrail 3s linear infinite;
}

@keyframes bounce {
    0% { transform: translate(0px, 0px)}
    50% { transform: translate(0px, 4px)}
    100% { transform: translate(0px, 0px)}
  }

@keyframes fumes {
    50% { transform: scale(1.5); background:transparent; }
    51% { transform: scale(0.8); }
    50% { transform: scale(1); }
}

@keyframes astrotrail {
    0% {
        background: linear-gradient(180deg, transparent 10%, rgb(195, 219, 252) 100%);
    }
    10% {
        background: linear-gradient(180deg, transparent 30%, rgb(195, 219, 252) 100%);
    }
    20% {
        background: linear-gradient(180deg, transparent 20%, rgb(195, 219, 252) 100%);
    }
    30% {
        background: linear-gradient(180deg, transparent 10%, rgb(195, 219, 252) 100%);
    }
    40% {
        background: linear-gradient(180deg, transparent 20%, rgb(195, 219, 252) 100%);
    }
    50% {
        background: linear-gradient(180deg, transparent 30%, rgb(195, 219, 252) 100%);
    }
    75% {
        background: linear-gradient(180deg, transparent 15%, rgb(195, 219, 252) 100%);
    }
}

@keyframes exhaust {
    0% {
        background: linear-gradient(180deg, transparent 10%, #e4e264 100%);
    }
    50% {
        background: linear-gradient(180deg, transparent 8%,  #f1e75b 100%);
    }
    75% {
        background: linear-gradient(180deg, transparent 12%,  #e4e264 100%);
    }
}

@keyframes wobble {
    0% { transform: translate(1px, 3px) rotate(0deg); }
    10% { transform: translate(-1px, -1px) rotate(-7deg); }
    20% { transform: translate(-3px, 3px) rotate(8deg); }
    30% { transform: translate(3px, -2px) rotate(0deg); }
    40% { transform: translate(1px, -4px) rotate(8deg); }
    50% { transform: translate(-1px, 2px) rotate(-5deg); }
    60% { transform: translate(-3px, -1px) rotate(0deg); }
    70% { transform: translate(3px, 2px) rotate(-7deg); }
    80% { transform: translate(-1px, -1px) rotate(6deg); }
    90% { transform: translate(1px, 1px) rotate(0deg); }
    100% { transform: translate(3px, -2px) rotate(-5deg); }
  }

  @keyframes wobble2 {
      0% { transform: translate(-1px, -1px) rotate(-1deg); }
      10% { transform: translate(1px, 2px) rotate(0deg); }
      20% { transform: translate(3px, 2px) rotate(0deg); }
      30% { transform: translate(1px, 1px) rotate(0deg); }
      40% { transform: translate(-3px, 1px) rotate(0deg); }
      50% { transform: translate(1px, -1px) rotate(1deg); }
      60% { transform: translate(-1px, 2px) rotate(-1deg); }
      70% { transform: translate(3px, 1px) rotate(-1deg); }
      80% { transform: translate(1px, -2px) rotate(-1deg); }
      90% { transform: translate(-1px, -1px) rotate(1deg); }
      100% { transform: translate(-3px, 3px) rotate(1deg); }
  }

  @keyframes fumes2 {
      50% {
          transform: scale(1.1);
      }
  }