.inner-orbit {
    position: absolute;
    height: 500px;
    width: 500px;
    top: -40px;
    left: -40px;
    border-radius: 50%;
    background: transparent;
    border: 5px rgb(196, 14, 165) dashed;
    animation: spin 20s linear infinite;
}

.rocketImg {
    position: absolute;
    top: 70px;
    left: 5px;
    transform: rotate(-7deg) ;
}

.houseImg {
    transform: rotate(-46deg) ;
    position: relative;
    top: 20px;
}

.sateliteImg {
    transform: rotate(125deg) ;
    position: relative;
    top: 100px;
    left: 40px;
}

.middle-orbit {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: transparent;
    border: 5px rgb(253, 69, 244) dashed;
    position: relative;
    left: 50px;
    top: 50px;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.outter-orbit {
    position: relative;
    height: 650px;
    width: 650px;
    border-radius: 50%;
    border: 3px rgb(57, 228, 219) dashed;
    top: -420px;
    left: -120px;
    animation: spin 15s linear infinite;
}

.notesImg1 {
    position: relative;
    top:110px;
    left:45px;
    animation: blink 3s linear infinite;
}
.notesImg2 {
    position: relative;
    top:130px;
    left:60px;
    opacity: 0;
    animation: blink 3s linear infinite;
    animation-delay: 1s;
}
.notesImg3 {
    position: relative;
    top:155px;
    left:80px;
    opacity: 0;
    animation: blink 3s linear infinite;
    animation-delay: 2s;
}
.planetImg {
    position: absolute;
    top:45px;
    left:50px;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}