.editor-header {
    background-color: #060c21;
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: center;
  }

  .wrapper-class {
    padding: 1rem;
  }
  .editor-class {
    background-color:#060913;
    color: white;
    padding: 1rem;
  }
  .toolbar-class {
    background-color: #060c21;
    border:none;
  }

  .title-input {
    margin-top: 5px;
    width: 600px;
    height: 60px;
    background-color: #060c21;
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 1px;
    text-shadow: 0 0 10px rgb(239, 251, 255),
    0 0 30px rgb(173, 233, 253),
    0 0 50px rgb(117, 220, 255);
  }

  .notebook-select {
    position: absolute;
    top: 80px;
    left: 800px;
    background-color: #060c21;
    border: 0.5 white solid;
    height: 30px;
    font-size: 25px;
    border-radius: 5px;
  }