.nav-register-button {
    background-color: transparent;
    color: white;
    border-radius: 5px;
    border: 4px white solid;
    background: linear-gradient(90deg, purple, rgb(127, 127, 255));
    padding: 5px 3px;
    width: 200px;
    font-size: 40px;
    font-weight: bolder;
}

.nav-register-button:hover {
    color: black;
    background-color: white;
    box-shadow: 0 0 10px white, 0 0 20px white;
}